/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~https://fonts.googleapis.com/icon?family=Roboto';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    font-family: Roboto;
    margin: 0px;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}
.example-full-width {
  width: 100%;
}

footer {
    position:fixed;
    bottom:0;
}